body{
background-color: #ff1414;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23e2e3c8' stroke-width='66' stroke-opacity='0.04' %3E%3Ccircle fill='%23ff1414' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23ef1914' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23df1c14' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23cf1e14' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23c02014' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23b12013' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23a12113' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23932013' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23842012' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23761f12' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23681d11' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%235a1c10' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%234d1a0f' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%2340170e' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%2333150c' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2327120a' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%231b0d07' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%230a0605' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.dado{
	background-image:url(https://i.pinimg.com/originals/0b/61/ba/0b61ba096406865f0e76a9b07e36dc69.png);
	background-position:-803px;
	width:157px;
	height:156px;
}
#contenedor_dados{
	display:flex;
	width:315px;
	margin:0 auto;
}

#boton_tirar{
	display:block;
	width:100px;
	height:60px;
	margin:10px auto;
	background-color:#A62E2E;
	color:#F2D857;
	border:0;
	border-radius:10px;
	cursor:pointer;


}